<article class="container astro-5PJ3YMW5">
    <div class="hero astro-5PJ3YMW5"></div>
    <img
      class="avatar border astro-YGML7V7F"
      src="/logo.png"
      width="48"
      height="48"
      style="--size: 6rem"
    />

    <main class="astro-5PJ3YMW5">
      <div class="title astro-5PJ3YMW5">
        <div class="hgroup astro-5PJ3YMW5">
          <div style="display: flex; align-items: center;">
            <h1 class="astro-5PJ3YMW5">wan</h1>
            <span class="verified astro-BJQGTCC3" style="margin-left: 10px;">
              <svg width="24" height="24" viewBox="0 0 24 24" aria-label="Verified account" role="img">
                <g>
                  <path fill="currentColor" d="M22.25 12c0-1.43-.88-2.67-2.19-3.34.46-1.39.2-2.9-.81-3.91s-2.52-1.27-3.91-.81c-.66-1.31-1.91-2.19-3.34-2.19s-2.67.88-3.33 2.19c-1.4-.46-2.91-.2-3.92.81s-1.26 2.52-.8 3.91c-1.31.67-2.2 1.91-2.2 3.34s.89 2.67 2.2 3.34c-.46 1.39-.21 2.9.8 3.91s2.52 1.26 3.91.81c.67 1.31 1.91 2.19 3.34 2.19s2.68-.88 3.34-2.19c1.39.45 2.9.2 3.91-.81s1.27-2.52.81-3.91c1.31-.67 2.19-1.91 2.19-3.34zm-11.71 4.2L6.8 12.46l1.41-1.42 2.26 2.26 4.8-5.23 1.47 1.36-6.2 6.77z"></path>
                </g>
              </svg>
            </span>
          </div>          
          <h2 class="astro-5PJ3YMW5">@syazarilasyraf</h2>
        </div>
        <div class="astro-5PJ3YMW5">
          <a class="subscribe astro-5PJ3YMW5" href="/feed.xml">
            <span class="astro-5PJ3YMW5"
              ><svg width="32" height="32" viewBox="0 0 24 24">
                <path
                  fill="currentColor"
                  d="M3 17a4 4 0 0 1 4 4H3v-4zm0-7c6.075 0 11 4.925 11 11h-2a9 9 0 0 0-9-9v-2zm0-7c9.941 0 18 8.059 18 18h-2c0-8.837-7.163-16-16-16V3z"></path></svg></span>
          </a>
        </div>
      </div>
      <div class="astro-5PJ3YMW5">
        <ul class="astro-5PJ3YMW5">
          <li class="astro-5PJ3YMW5">
            <span class="astro-5PJ3YMW5">📝</span>
            <p>Each note is a snippet of inspiration, knowledge, or simply something intriguing I stumbled upon.</p>
          </li>
        </ul>
      </div>
    </main>
    <footer class="astro-5PJ3YMW5">
      <ul class="astro-5PJ3YMW5">
        <li class="astro-5PJ3YMW5">
          <svg width="32" height="32" viewBox="0 0 21 21">
            <path
              fill="none"
              stroke="currentColor"
              stroke-linecap="round"
              stroke-linejoin="round"
              d="M11 16.517c4.418 0 8-3.284 8-7.017C19 5.767 15.418 3 11 3S3 6.026 3 9.759c0 1.457.546 2.807 1.475 3.91L3.5 18.25l3.916-2.447a9.181 9.181 0 0 0 3.584.714z"></path></svg>Notes
        </li>
        <li class="astro-5PJ3YMW5">
          <svg width="32" height="32" viewBox="0 0 21 21">
            <g
              fill="none"
              fill-rule="evenodd"
              stroke="currentColor"
              stroke-linecap="round"
              stroke-linejoin="round"
              transform="translate(4 2)"
            >
              <path
                d="m6.5 16.54l.631-.711c.716-.82 1.36-1.598 1.933-2.338l.473-.624c1.975-2.661 2.963-4.773 2.963-6.334C12.5 3.201 9.814.5 6.5.5s-6 2.701-6 6.033c0 1.561.988 3.673 2.963 6.334l.473.624a54.84 54.84 0 0 0 2.564 3.05z"></path>
              <circle cx="6.5" cy="6.5" r="2.5"></circle>
            </g></svg>Cyberjaya, MY
        </li>
        <li class="link astro-5PJ3YMW5">
          <a href="https://github.com/syazarilasyraf/feed.syazarilasyraf.com?tab=readme-ov-file#feedsyazarilasyrafcom" class="astro-5PJ3YMW5"
            ><span class="astro-5PJ3YMW5"
              ><svg width="32" height="32" viewBox="0 0 21 21">
                <g
                  fill="none"
                  fill-rule="evenodd"
                  stroke="currentColor"
                  stroke-linecap="round"
                  stroke-linejoin="round"
                >
                  <path
                    d="M4.388 11.69A3.043 3.043 0 0 1 6.543 6.5h4.914A3.043 3.043 0 0 1 14.5 9.543c0 1.68-1.362 2.957-3.043 2.957H9"></path>
                  <path
                    d="M16.612 10.31a3.043 3.043 0 0 1-2.155 5.19H9.543A3.043 3.043 0 0 1 6.5 12.457c0-1.68 1.362-2.957 3.043-2.957H12"></path>
                </g></svg></span>source</a>
        </li>
      </ul>
    </footer>
  </article>